/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/scss/bootstrap";
@import './_mixins';


body {
    font-family: 'Poppins', sans-serif;
    color: #707070;
    background-color: #F0F0F0;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image:url(../assets/cons_bg.png);
}

.custom-margin {
    margin-left: 5%;
    margin-right: 5%;

}
//form-control
// .form-group {


//     .col-form-label {
//         font-weight: 500;
//         padding-right: 15px;    }

//     .col-form-label,
//     .form-control,
//     .form-select {
//         height: 32px;
//         font-size: 16px;
//         font-weight: 600;
//         padding-top: 0px;
//         padding-bottom: 0px;
//     }

//     .form-control,
//     .form-select {
//         background-color: rgba($color: #FFFFFF, $alpha: 0.6);
//         border: 1px solid #B7D8ED;
//         outline: none;
//         border-radius: 9px;

//         &:hover,
//         &:active,
//         &:focus {
//             border-color: #0088D6;
//         }

//         &:focus {
//             box-shadow: 0 0 0 0.15rem rgb(13 110 253 / 25%);
//         }

//         &:disabled {
//             border-color: transparent;
//             background-image: none;
//         }

//         &.is-invalid {
//             border-color: #dc3545;

//             &:focus {
//                 box-shadow: 0 0 0 0.15rem rgb(220 53 69 / 25%);
//             }
//         }
//     }

//     textarea {
//         min-height: 100px;
//     }

//     &.form-inline {
//         display: flex;

//         .col-form-label,
//         .col-form-control,
//         .col-form-control-check {
//             margin-right: 25px;
//         }

//         .col-form-label {
//             // width: 120px;
//             margin-left: 15px;

//             &.short-2x {
//                 width: 60px;
//             }

//             &.short-3x {
//                 width: 30px;
//             }
//         }

//         .col-form-control {
//             width: 300px;

//             &.wide-2x {
//                 width: 600px;
//             }

//             &.wide-3x {
//                 width: 900px;
//             }

//             &.text-only {
//                 line-height: 32px;
//                 padding: 0rem .75rem;
//                 font-weight: 600;
//             }
//         }

//         .col-form-control-check {
//             display: flex;
//             // align-items: center;
//             font-size: 16px;
//             height: 32px;
            
//             .form-check-inline {
//                 margin-right: 30px;
//             }
//         }
//     }
// }
.navbar-bg {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    background-color: #0E63B8;
    height: 80px;
    color: #ffffff;
    background-image:url(../assets/banner.png);
    font-size: 16px;

    .navbar-brand {
        padding: 0;
        line-height: 0;

        img {
            padding-top: 5px;
            height: 70px;
            width: auto;
        }
    }

    .nav-menu {
        width: 100%;
        margin-top: 18px;

        .nav-link {
            color: #ffffff;

            
        }

        .nav>li>a:focus,
        .nav>li>a:hover {
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.4);
            outline: none;
        }

        .nav .open>a,
        .nav .open>a:focus,
        .nav .open>a:hover {
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.4);
            outline: none;
        }
        .dropdown-menu>li>a{
            font-size: 15px !important;
        }
    }
}

.content-container {
    margin-top: 120px;  

}

.hwpipeline-container {
    width: 100%;
    height: 100%;

    .first-section {
        text-align: left;
        margin-bottom: 20px;

        .page-title{
            font-size: 26px;
            font-weight: 600;

        }
        .page-desc{
            font-size: 15px;

        }
    }

    .second-section {
        text-align: left;

        .latest-summary {
            font-size: 25px;
            font-weight: 500;
        }
        .jenkins-details {
            padding: 10px 68px;
            font-size: 17px;

            .jenkins-table{
                width: 100%;
                td{
                    padding: 7px;
                }
                .field{
                    font-weight: 500;

                    .info-icon{
                        color: #E5E5E5;
                        cursor: pointer;
                    }
                }
                .select-dropdown{
                    border: 1px solid #707070;
                    width: 365px;
                    color: #707070;
                    outline: none;
                    border-radius: 10px;
                    padding-left: 10px;
                }
                .spacer{
                    padding-left: 50px;
                }
            }

        }
        .jenkins-table{
            font-size: 18px;
            text-align: left;

            .jenkins-result-table{
                border: 1px solid #7070703B;
                border-radius: 5px;
                box-shadow: 8px 3px 14px #00000024;
                width: 100%;

                .table-head{
                    border-bottom: 1px solid #E5E5E5;
                    padding: 20px 80px;
                    font-weight: 400;
                }
                .table-output{
                    padding: 15px 80px;

                    .status-icon{
                        padding-right: 5px;
                        cursor: pointer;

                    }
                }
            }
        }
    }



    .tooltip .tooltip-inner{
        background-color:#ffffff;
        max-width: none;
        font-size: 13px;
        color: #333333!important;
        font-weight: 600;
    }
    .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before{
        border-top-color:#ffffff!important;
        border-bottom-color: #ffffff;
    }
    .modal-backdrop.fade
    {
      opacity: 0.5;
    }
    .modal-open .modal
    {
      opacity: 1;
    }
    
}

.plugandtest-container {
    width: 100%;
    height: 100%;

    .first-section {
        text-align: left;
        margin-bottom: 20px;

        .page-title{
            font-size: 26px;
            font-weight: 600;

        }
        .page-desc{
            font-size: 15px;

        }
    }

    .second-section {
        text-align: left;

        .test-summary {
            font-size: 23px;
            font-weight: 500;
        }
        .jenkins-details {
            padding: 10px 68px;
            font-size: 17px;

            .jenkins-table{
                width: 100%;
                td{
                    padding: 7px;
                }
                .field{
                    font-weight: 500;

                    .info-icon{
                        color: #E5E5E5;
                        cursor: pointer;
                    }
                }
                .select-dropdown{
                    border: 1px solid #707070;
                    width: 365px;
                    color: #707070;
                    outline: none;
                    border-radius: 10px;
                    padding-left: 10px;
                }
                .spacer{
                    padding-left: 50px;
                }
            }

        }
        .jenkins-table{
            font-size: 18px;
            text-align: left;

            .jenkins-result-table{
                border: 1px solid #7070703B;
                border-radius: 5px;
                box-shadow: 8px 3px 14px #00000024;
                width: 100%;

                .table-head{
                    border-bottom: 1px solid #E5E5E5;
                    padding: 20px 80px;
                    font-weight: 400;
                }
                .table-output{
                    padding: 15px 80px;

                    .status-icon{
                        padding-right: 5px;
                        cursor: pointer;

                    }
                }
            }
        }
    }



    .tooltip .tooltip-inner{
        background-color:#ffffff;
        max-width: none;
        font-size: 13px;
        color: #333333!important;
        font-weight: 600;
    }
    .bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before{
        border-top-color:#ffffff!important;
        border-bottom-color: #ffffff;
    }
    .modal-backdrop.fade
    {
      opacity: 0.5;
    }
    .modal-open .modal
    {
      opacity: 1;
    }
    
}

