/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/scss/bootstrap";
@import './_mixins';


body-dark {
    font-family: 'Poppins', sans-serif;
    color: #F0F0F0;
    width: 100%;
    height: 100vh;
    position: relative;

}
body {
    font-family: 'Poppins', sans-serif;
    color: #3e3e3e;
    background-color: #F0F0F0;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    // background-image:url(../assets/cons_bg.png);

}

.custom-margin {
    margin-left: 2%;
    margin-right: 2%;

}

.video-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
        object-fit: cover;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: -1;
    }
}

.navbar-bg-dark {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    // background-color: #0E63B8;
    height: 80px;
    color: #ffffff;
    // background-image: url(../assets/banner.png);
    font-size: 15px;

    .navbar-brand {
        padding: 2px;
        line-height: 0;
        background-color: rgba(0, 0, 0, 0.8);

        img {
            padding-top: 5px;
            height: 75px;
            width: auto;
        }
    }

    .nav-menu {
        width: 100%;
        margin-top: 18px;

        .nav-link {
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 5px;

        }

        .nav>li>a:focus,
        .nav>li>a:hover,
        .nav-link-active
         {
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.4);
            outline: none;
        }

        .nav .open>a,
        .nav .open>a:focus,
        .nav .open>a:hover,
        .nav .open>a:active {
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.4);
            outline: none;
        }

        .dropdown-menu>li>a {
            font-size: 14px !important;
        }
    }
}
.navbar-bg {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    background-color:  rgb(255, 255, 255);
    height: 80px;
    color: #3e3e3e;
    background-image:url(../assets/cons_bg.png);

    // border: solid 2px #e3e3e3;
    font-size: 14px;
    box-shadow: 20px 7px 15px #aaaaaa;

    .navbar-brand {
        padding: 2px;
        line-height: 0;
        // background-color: rgba(223, 218, 218, 0.8);

        img {
            height: 75px;
            width: auto;
        }
    }

    .nav-menu {
        width: 100%;
        margin-top: 18px;

        .nav-link {
            color: #3e3e3e;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 5px;

        }

        .nav>li>a:focus,
        .nav>li>a:hover,
        .nav>li>a:active
        .nav .open>a:after
         {
            border-radius: 5px;
            background-color: rgba(162, 157, 157, 0.25);
            outline: none;
        }

        .nav .open>a,
        .nav .open>a:focus,
        .nav .open>a:hover,
        .nav .open>a:active
        .nav .open>a:after {
            border-radius: 5px;
            background-color: rgba(162, 157, 157, 0.25);
            outline: none;
        }

        .dropdown-menu>li>a {
            font-size: 14px !important;
        }
    }
}

.content-container {
    margin-top: 100px;

}

.kuiperlinuxci-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0 10px 0 10px;
    overflow: hidden;

    
    .first-section {
        text-align: left;
        margin-bottom: 20px;

        .page-title {
            font-size: 24px;
            font-weight: 600;

        }

        .page-desc {
            font-size: 14px;

        }
    }

    .second-section {
        text-align: left;

        .latest-summary {
            font-size: 23px;
            font-weight: 500;
        }

        .jenkins-details {
            padding: 10px 40px;
            font-size: 16px;

            .jenkins-table-details {
                width: 100%;
                
                td {
                    padding: 7px;
                }

                .field {
                    font-weight: 500;

                    .info-icon {
                        color: #E5E5E5;
                        cursor: pointer;
                    }
                }
                .field-fail{
                    color: #c02626;
                    font-weight: 500;

                }
                .field-pass{
                    color: #35e34f;
                    font-weight: 500;

                }

                .select-dropdown {
                    border: 1px solid #707070;
                    width: 365px;
                    color: #F0F0F0;
                    outline: none;
                    border-radius: 10px;
                    padding-left: 10px;
                }

                .spacer {
                    padding-left: 20px;
                }
            }

        }

        .jenkins-table {
            font-size: 17px;
            // text-align: left;
            height: 540px;
            width: 100%;
            overflow: auto;
            display: inline-block;
            max-height: 540px;
            box-shadow: 7px 0px 10px #d4d4d4e1;

            .jenkins-result-table {
                border-top: 1px solid #E5E5E5;
                width: 100%;


                .table-head, .head-hover {
                    border-bottom: 1px solid #7070703B;
                    padding: 20px 80px;
                    font-weight: 400;
                    
                }
               
                tbody>tr:hover {
                    // border-radius: 20px;
                    background-color: rgba(141, 141, 141, 0.166);
                    outline: none;
                    cursor: pointer;
                }
                .table-output {
                    padding: 15px 20px;
                    text-align: left;

                }  
                .table-output-date{
                    text-align: center;
                }  
                    .table-output-icon {
                        padding: 10px 10px 10px 85px;
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: left;
                        justify-content: left;

                        .status-icon {
                            padding-right: 5px;
                            cursor: pointer;
    
                            .stat-icon {
                                margin-right: 5px;

                            }
                        }
                    }
                
            }
        }
    }
}
.loading {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  font-size: 16px;

  .loading-container {
    text-align: center;
    margin: auto;
    width: 100%;
    top: 50%;
    position: absolute;
    margin-top: -24px;
  }
}


.boardHead-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0 10px 0 10px;
    color: #3e3e3e;
    .board-head{   
        .board-top{
            padding-bottom: 15px;
            .board-label {
                font-size: 14px;
                font-weight: 400;
                padding-left: 15px;
            } 
            .board-name {
                font-size: 20px;
                font-weight: 600;
            }
        
            .board-filtering{
                width: 100%;
                padding: 20px 0;
    
                .board-filter-table{
    
                    .filter-dropdown{
                        font-size: 14px;
                        .label-space{
                            padding-right: 14px;
                            font-size: 14px;
                            vertical-align: middle;
    
                        }
                        .btnDrop{
                            background-color: #fff;
                            border: 1px solid #c7c5c5;
                            border-radius: 5px;
                            padding: 2px 40px;
                        }
                    }
                    
                    .filter-go{
                        padding-top: 10px;
                        
                        
                        .btnGo{
                            background-color: #fff;
                            border: 1px solid #c7c5c5;
                            border-radius: 5px;
                            padding: 2px 20px;
                            margin-left: 29px;
                            color: #fdea13;
    
                        }
                        .btnClear{
                            background-color: #fff;
                            border: 1px solid #c7c5c5;
                            border-radius: 5px;
                            padding: 2px 20px;
                            margin: 0 10px;
                            color: #707070;
                        }
                    }
                }
            }
        }

        .board-details{
            font-size: 12px;
            text-align: left;
            
            box-shadow: 12px 0px 28px #d4d4d4e1;

            .board-detail-table{
                border-top: 1px solid #E5E5E5;
                height: 540px;
            width: 100%;
            overflow: auto;
            display: inline-block;
            max-height: 540px;

                .table-head{
                    border-bottom: 1px solid #7070703B;
                    padding: 5px 10px;
                    font-weight: 400;
                    
                }
                
                .table-output {
                        padding: 9px 10px;
                }
            }
        }
    }
}
.tooltip .tooltip-inner {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff !important;
    max-width: none;
    font-size: 13px;
    color: #333333 !important;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding: 5px;
    margin: 10px;
    // border: 4px solid rgba(238, 238, 238, 0.5) ;
    text-align: left;
    word-wrap: break-word;
    box-shadow: inset 1px 5px 3px rgba(238, 238, 238, 0.5);


  }
  .tooltip.top .tooltip-arrow{
    visibility: hidden;
    display: none;
  }

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(238, 238, 238, 0.464);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #707070;
}
