<div class="plugandtest-container">
    <div class="first-section">
        <div class="row">
            <div class="col-2">
                <div class="page-title">Plug and Test</div>
            </div>
            <div class="col-10">
                <div class="page-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
            </div>
        </div>
    </div>
    <div class="second-section">
        <div class="row">
            <div class="col-12">
                <div class="test-summary">Test Result</div>
            </div>
        </div>
        <!-- <div class="jenkins-details">
            <div class="row">
                <div class="col-6">
                    <div class="form-group form-inline">
                        <label class="col-form-label">
                            Jenkins Project Name
                        </label>
                        <div class="col-form-control">
                            <select formControlName="website" class="form-control">
                                <option disabled>Select Website</option>
                                <option>Choose Website</option>
                                <option *ngFor="let web of websiteList">{{web}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="col-form-label">
                            Jenkins Build No.
                        </label>
                        <div class="col-form-control">
                            <label class="col-form-label">
                                1002
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="col-form-label">
                            Total Boards
                        </label>
                        <div class="col-form-control">
                            <label class="col-form-label">
                                2
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="col-form-label">
                            Online
                        </label>
                        <div class="col-form-control">
                            <label class="col-form-label">
                                26
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group form-inline">
                        <label class="col-form-label">
                            Artifactory source branch
                        </label>
                        <div class="col-form-control">
                            <label class="col-form-label">
                                boot_partition_master
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label class="col-form-label">
                            HDL Commit
                        </label>
                        <div class="col-form-control">
                            <label class="col-form-label">
                                158c10df3
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <table class="jenkins-table">
            <tr class="t-row">
                <td class="field">Jenkins Project Name</td>
                <td class="select-output">
                    <select formControlName="website" class="select-dropdown">
                    <option disabled>Select Website</option>
                    <option *ngFor="let web of websiteList">{{web}}</option>
                    </select>
                </td>
                <td class="spacer"></td>
                <td class="field">Jenkins Project Name</td>
                <td class="select-output">
                    <select formControlName="website" class="select-dropdown">
                    <option disabled>Select Website</option>
                    <option *ngFor="let web of websiteList">{{web}}</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
</div>