<div class="scorecard-container">
    <div class="first-section custom-margin">
        <div class="row">
            <div class="col-2">
                <div class="page-title">Kuiper Linux Scorecard</div>
            </div>
            <div class="col-10">
                <div class="page-desc">{{scorecard}}</div>
            </div>
        </div>       
    </div>
    <div class="second-section  custom-margin" *ngIf="!loadingMain">
        <!-- <iframe src="http://10.116.110.150/kibana/app/dashboards#/view/7857dbe0-5817-11ee-adb9-6f970c851b32?_g=(filters:!(),query:(language:kuery,query:''),refreshInterval:(pause:!t,value:0),time:(from:now%2Fw,to:now%2Fw))" height="900px" width="100%"></iframe></div> -->
        <!-- <iframe name="iframe1" id="iframe1" src="http://10.116.110.150/constellation/scorecard/" height="900px" width="100%"></iframe> -->
        <iframe name="iframe1" id="iframe1" src="http://10.116.110.150/constellation/scorecard/" height="900px" width="100%"></iframe>
    
        </div>

</div>
<ng-container *ngIf="loadingMain">
    <div class="loading" >
        <div class="loading-container">
            <i class="fas fa-spinner fa-pulse"></i> {{ loadingMainText }}
        </div>
    </div>
</ng-container>

