<div class="scorecard-container">
    <div class="first-section">
        <div class="row">
            <div class="col-2">
                <div class="page-title">Scorecard</div>
            </div>
            <div class="col-10">
                <div class="page-desc">{{scorecard}}</div>
            </div>
        </div>
    </div>
<div class="second-section">
    <iframe src="http://10.116.110.150/kibana/app/dashboards#/view/b7aac530-257b-11ec-ac08-df20959ba2b7?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))" height="800px" width="100%"></iframe></div>
</div>