
<div class="video-wrapper">
    <video playsinline autoplay muted loop poster="../assets/cons_bg.png">
        <source src="../assets/starsbg.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <app-navigation></app-navigation>

    <div class="container-fluid">
        <div class="content-container custom-margin">

            <router-outlet></router-outlet>

        </div>
    </div>
</div>
<!-- <div class="container-fluid">
    <div class="glowing">

        <span style="--i:1;"></span>
    
        <span style="--i:2;"></span>
    
        <span style="--i:3;"></span>
    
    </div>
    
    <div class="glowing">
    
        <span style="--i:1;"></span>
    
        <span style="--i:2;"></span>
    
        <span style="--i:3;"></span>
    
    </div>
    
    <div class="glowing">
    
        <span style="--i:1;"></span>
    
        <span style="--i:2;"></span>
    
        <span style="--i:3;"></span>
    
    </div>
    
    <div class="glowing">
    
        <span style="--i:1;"></span>
    
        <span style="--i:2;"></span>
    
        <span style="--i:3;"></span>
    
    </div>

</div> -->