
<div class="video-wrapper">
    <video playsinline autoplay muted loop poster="../assets/cons_bg.png">
        <source src="./assets/cons_bg.png" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <app-navigation></app-navigation>

    <div class="container-fluid">
        <div class="content-container ">

            <router-outlet></router-outlet>

        </div>
    </div>
</div>
<!-- <app-navigation></app-navigation>
<div class="container-fluid">
    <div class="content-container custom-margin">
        <router-outlet></router-outlet>
    </div>
</div> -->