
$labelColor: #fff;
$badgeColor: #e3e3e3;
$rad: 5px;
$marbot: 5px;
$dmesg: #e52a33;
$driv: #c9a22b;
$p: #50aa1b;
$f: #8e3737e0;
//  
// .btnDriver{
//     outline: none;
//     border-style: none;
//     background-color: $driv;
//     color: $labelColor;
//     border-radius: $rad;

// }
// .btnPass{
//     outline: none;
//     border-style: none;
//     background-color: $p;
//     color: $labelColor;
//     border-radius: $rad;
//     margin-bottom: $marbot;


// }
// .btnFail{
//     outline: none;
//     border-style: none;
//     background-color: $f;
//     color: $labelColor;
//     border-radius: $rad;

// }
// .badgeNumber{
//     color:$labelColor;
//     vertical-align: middle;

// }
.arti{
    margin-right: 10px;
    font-size: 12px;
}


