<section class="boardHead-container">
    <div class="board-head">
        <div class="board-top custom-margin">
            <div class="row ">
                <div class="col-12">
                    <div class="board-name">
                        <a class="back" routerLink="/kuiperlinuxci">
                            <span class="label-space"><i class="fa-solid fa-caret-left"></i></span>
                        </a>{{this.selectedBoard}}
                    </div>
                    <div class="board-label">Board Name</div>
                    <div class="board-filtering">
                    
                    </div>
                </div>
            </div>
            
        </div>
        <div class="board-details">
            <table datatable cellspacing="10" class="board-detail-table">
                <thead>
                    <tr>
                        <th class="table-head">Job Date</th>
                        <th class="table-head">Artifactory source branch</th>
                        <th class="table-head">Trigger</th>
                        <th class="table-head">HDL Commit</th>
                        <th class="table-head">Linux Commit</th>
                        <th class="table-head">U-boot Reached</th>
                        <th class="table-head">Linux Booted </th>
                        <th class="table-head">Linux Tests</th>
                        <th class="table-head">Pyadi Tests</th>
                        <th class="table-head">Build Number</th>
                        <th class="table-head">Artifacts</th>
                        <th class="table-head">Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let board of boardDetails.hits">
                        <ng-container *ngIf="board.boot_folder_name === selectedBoard">
                            <td class="table-output">{{board.jenkins_job_date | date:'y-M-d HH:mm:ss'}}</td>
                            <td class="table-output">{{ board.source_adjacency_matrix }}</td>
                            <td class="table-output">{{ board.jenkins_trigger | removePrefix }}</td>
                            <td class="table-output">{{ board.hdl_hash }}</td>
                            <td class="table-output">{{ board.linux_hash }}</td>
                            <td class="table-output">{{ board.uboot_reached }}</td>
                            <td class="table-output">{{ board.linux_prompt_reached }}</td>
                            <td class="table-output">
                                <button type="button" class="btnDmesg">
                                   Dmesg Errors
                                   <span class="badge badge-warning">{{board.dmesg_errors_found}}</span> 
                                  </button>
                                  <button type="button" class="btnDriver">
                                    Drivers missing: {{ board.drivers_missing }}
                                  </button>  
                            </td>
                            <td class="table-output">
                                <button type="button" class="btnPass">
                                    {{ board.pytest_test}}
                                  </button>
                                  <button type="button" class="btnFail">
                                    {{ board.errors}}
                                </button>
                            </td>
                            <td class="table-output">{{ board.jenkins_build_number }}</td>
                            <td class="table-output">
                                <span class="arti"><a type="button" containerClass="customClass" [tooltip]="uartTooltip"><i class="fa-solid fa-chart-line"></i></a></span>
                                <span class="arti"><a type="button" containerClass="customClass" [tooltip]="diagnosticTooltip"><i class="fa-solid fa-file-pen"></i></a></span>
                            </td> 
                            <td class="table-output">{{board.boot_test_result}}</td>
                        </ng-container>
                        <ng-template #uartTooltip>
                            <div class="board-tooltip" style="font-weight: 500;">
                                <div class="row" >
                                    <div class="col-12">
                                        <div class="power">
                                            UART BOOT LOG
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #diagnosticTooltip>
                            <div class="board-tooltip" style="font-weight: 500;">
                                <div class="row" >
                                    <div class="col-12">
                                        <div class="power">
                                            ADI DIAGNOSTIC REPORT
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>