<section class="boardHead-container custom-margin">
    <div class="board-head">
        <div class="board-top ">
            <div class="row ">
                <div class="col-12">
                    <div class="board-name">
                        <a class="backBtn" routerLink="/kuiperlinuxci">
                            <span class="label-space"><i class="fa-solid fa-caret-left"></i></span>
                        </a>
                        {{this.selectedBoard}}
                    </div>
                    <div class="board-label">Board Name</div>
                </div>
            </div>

        </div>
        
    </div>
    <div class="board-details">
        <table class="row-border" style="width:100%">
            <thead>
                <tr>
                    <th class="table-head" *ngFor="let tableheader of tableheaders; let i = index">
                        {{tableheader}}
                    </th>
                    <th class="table-head" *ngIf="tableheader == 'Artifactory'" [tooltip]="dllogs">
                        Artifacts
                    </th>
                    <!-- <th class="table-head">Artifactory source branch</th>
                    <th class="table-head">Trigger</th>
                    <th class="table-head">HDL Commit</th>
                    <th class="table-head">Linux Commit</th>
                    <th class="table-head">Build Number</th>
                    <th class="table-head">U-boot Reached</th>
                    <th class="table-head">Linux Booted</th>
                    <th class="table-head">Dmesg Error Tests</th>
                    <th class="table-head">Drivers Missing Tests</th>
                    <th class="table-head">Pyadi Tests</th>
                    <th class="table-head" [tooltip]="dllogs">Artifacts</th>
                    <th class="table-head">Result</th> -->
                    <ng-template #dllogs>
                        <div class="board-tooltip">
                            <div class="row" style="font-weight: 500;">
                                <div class="col-12">
                                    <div class="board-power">
                                        Click the icons <br>to download the logs
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let board of boardDetails.hits">
                    <ng-container *ngIf="board.boot_folder_name === selectedBoard">
                        <td class="table-output col-1">{{board.jenkins_job_date | date:'y-M-d HH:mm:ss'}}</td>
                        <td class="table-output col-1">{{ board.source_adjacency_matrix }}</td>
                        <td class="table-output col-1">
                            <a [href]="board.trigger_url" target="_blank"> {{ board.jenkins_trigger | removePrefix }} </a>
                        </td>
                        <td class="table-output col-1">
                            <a [href]="board.hdl_commit_url" target="_blank"> {{ board.hdl_hash }} </a>
                        </td>

                        <td class="table-output col-1">
                            <a [href]="board.linux_commit_url" target="_blank"> {{ board.linux_hash }} </a>
                        </td>
                        <td class="table-output col-1">
                            <div class="a" *ngFor="let key of ['jenkins_build_number_url'] ">
                                <a [href]="board[key]" target="_blank">{{ board.jenkins_build_number }}</a>
                            </div>
                        </td>
                        <td class="table-output col-1">
                            <ng-container *ngIf="board.linux_prompt_reached == true">
                                <img src="assets/thumbs-up.svg" class="icons">
                            </ng-container>
                            <ng-container *ngIf="board.linux_prompt_reached == false">
                                <img src="assets/thumbs-down.svg" class="icons">
                            </ng-container>
                        </td>
                        <td class="table-output col-1">
                            <ng-container *ngIf="board.linux_prompt_reached == true">
                                <img src="assets/thumbs-up.svg" class="icons">
                            </ng-container>
                            <ng-container *ngIf="board.linux_prompt_reached == false">
                                <img src="assets/thumbs-down.svg" class="icons">
                            </ng-container>
                        </td>
                        <td class="table-output col-1">
                            <a [href]="board.linux_tests_dmesg_url" target="_blank"> <img src="assets/dmesg.svg"
                                    class="icons"> {{ board.dmesg_errors_found }} </a>
                        </td>
                        <td class="table-output col-1">
                            <a [href]="board.linux_tests_drivers_url" target="_blank"> <img
                                    src="assets/driver_missing.svg" class="icons"> {{ board.drivers_missing }} </a>
                        </td>
                        <td class="table-output col-1">
                            <div class="a" *ngFor="let key of ['pyadi_tests_url'] ">
                                <a [href]="board[key]" target="_blank">
                                    <img src="assets/passed_icon.svg" class="icons">
                                         {{ board.pytest_tests }}
                                </a>
                                <br>
                                <a [href]="board[key]" target="_blank">
                                    <img src="assets/failed_icon.svg" class="icons">
                                     {{ board.pytest_failures }}
                                </a>
                                <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#demo" aria-expanded="false" aria-controls="collapseExample">
                                    Button with data-bs-target
                                </button> -->
                            </div>
                        </td>
                        <td class="table-output col-1">
                            <span class="a" *ngFor="let key of ['uart_boot_log_url'] ">
                                <a [href]="board[key]" target="_blank" [tooltip]="uartlogo"> <img src="assets/uart.svg" class="icons" >
                                </a>
                            </span>
                            <span class="spacer"></span>
                            <span class="a" *ngFor="let key of ['adi_diagnostic_report_url'] ">
                                <a [href]="board[key]" target="_blank" [tooltip]="diagnosticlogo"> <img src="assets/diagnostic.svg"
                                        class="icons"></a>
                            </span>
                            <ng-template #uartlogo>
                                <div class="board-tooltip">
                                    <div class="row" style="font-weight: 500;">
                                        <div class="col-12">
                                            <div class="board-power">
                                                UART logs
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #diagnosticlogo>
                                <div class="board-tooltip">
                                    <div class="row" style="font-weight: 500;">
                                        <div class="col-12">
                                            <div class="board-power">
                                                    ADI Diagnostic logs
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </td>
                        <td class="table-output col-1">
                            <div class="a" *ngFor="let key of ['linux_tests_drivers_url'] ">
                                <a [href]="board[key]" target="_blank">{{ board.boot_test_result }}</a>
                            </div>
                        </td>
                    </ng-container>
                </tr>
                <!-- <div class="container"  id="demo" class="collapse" [ngClass]="{'show': showMenu}"> try</div> -->
                
            </tbody>
        </table>
    </div>
    <div class="footer">
        
    </div>
</section>