<div class="kuiperlinuxci-container ">
    <div class="first-section custom-margin">
        <div class="row">
            <div class="col-2">
                <div class="page-title">Kuiper Linux CI</div>
            </div>
            <div class="col-10">
                <div class="page-desc">{{kuiperlinuxci}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="latest-summary">Latest Build Summary</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="jenkins-details">
                    <table class="jenkins-table-details">
                        <tr class="t-row">
                            <td class="field">Jenkins Project Name</td>
                            <td class="output">{{ latestData.jenkins_project_name }}
                            </td>
                            <td class="spacer"></td>
                            <td class="field">Artifactory source branch</td>
                            <td class="output">{{ latestData.source_adjacency_matrix }}</td>
                        </tr>
                        <tr class="t-row">
                            <td class="field">Latest Jenkins Build No.</td>
                            <td class="output">{{ latestData.jenkins_build_number }} (Latest)</td>
                            <td class="spacer"></td>
                            <td class="field">Linux Commit</td>
                            <td class="output">{{ latestData.linux_hash }}</td>
                            <td class="field">Status <span class="info-icon" [popover]="statusDetails"
                                    [placement]="'right top'"><i class="fas fa-info-circle"></i></span></td>
                        </tr>
                        <tr class="t-row">
                            <td class="field">HDL Commit</td>
                            <td class="output">{{ latestData.hdl_hash }}</td>
                            <td class="spacer"></td>
                            <td class="field">Online</td>
                            <td class="output">{{ this.onlineBoardsCount }}</td>        
                        </tr>
                        
                    </table>
                    <table class="jenkins-table-testlogo">
                        <tr class="t-row">
                            <td class="field-stat">
                                <img src="assets/passed_icon.svg" class="icons" [tooltip]="passedlogo"/> {{ this.passingBoardsCount }}
                                <span class="unit">Passing board</span> 
                                <span class="spacer"></span>
                                <img src="assets/pytestFailed.svg" class="icons" [tooltip]="pytestlogo"/> {{ this.pytestBoardsCount }}
                                <span class="unit">Pytest Error</span> 
                                <span class="spacer"></span>
                                <img src="assets/dmesgerr.svg" class="icons" [tooltip]="linuxlogo"/> {{ this.linuxBoardsCount }}
                                <span class="unit">Dmesg Error/ Driver Missing</span> 
                                <ng-template #passedlogo>
                                    <div class="board-tooltip">
                                        <div class="row" style="font-weight: 500;">
                                            <div class="col-12">
                                                <div class="board-power">
                                                        Passed
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #linuxlogo>
                                    <div class="board-tooltip">
                                        <div class="row" style="font-weight: 500;">
                                            <div class="col-12">
                                                <div class="board-power">
                                                    Linux Dmesg error / Drivers missing
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #pytestlogo>
                                    <div class="board-tooltip">
                                        <div class="row" style="font-weight: 500;">
                                            <div class="col-12">
                                                <div class="board-power">
                                                    Pytest errors
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
    <div class="second-section custom-margin">
        <div class="jenkins-table">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-head">Job Date
                            <span class="status-icon">
                                <a type="button" class="sort-btn" (click)="toggleSortOrder()">
                                    <i *ngIf="sortOrder === 'desc'" class="fas fa-sort-down"></i>
                                    <i *ngIf="sortOrder === 'asc'" class="fas fa-sort-up"></i>
                                </a>
                            </span>
                        </th>
                        <th class="table-head">Board</th>
                        <th class="table-head">Build
                            <span class="status-icon">
                                <a type="button" class="sort-btn" (click)="toggleSortOrder()">
                                    <i *ngIf="sortOrder === 'desc'" class="fas fa-sort-down"></i>
                                    <i *ngIf="sortOrder === 'asc'" class="fas fa-sort-up"></i>
                                </a>
                            </span>
                        </th>
                        <th class="table-head">Status</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bd of this.dataAggregates" (click)="navigateToBoardPage(bd.boot_folder_name)">
                        <td class="table-output-date">{{ bd.jenkins_job_date | date:'y-M-d HH:mm:ss' }}</td>
                        <td class="table-output-folder" routerLink="/kuiperlinuxci" style="cursor: pointer;">
                            {{ bd.boot_folder_name }}
                        </td>
                        <td class="table-output-date">{{ bd.jenkins_build_number }}</td>

                        <td class="table-output-icon">
                            <ng-container>
                                <a type="button" containerClass="customClass" [tooltip]="powerTooltip">
                                    <span class="status-icon" *ngIf="isBoardOnline(bd).status">
                                        <img [src]="isBoardOnline(bd).icon" />
                                    </span>
                                </a>
                            </ng-container>
                            <ng-container>
                                <a type="button" containerClass="customClass" [tooltip]="testTooltip">
                                    <span class="status-icon">
                                        <img class="stat-icon" *ngFor="let icon of isBoardPassed(bd); let i=index"
                                            [src]="bd.icon[i]" alt="Image"
                                            [hidden]="isBoardOnline(bd).status == 'Offline'" />
                                    </span>
                                </a>
                            </ng-container>
                        </td>
                        <ng-template #powerTooltip>
                            <div class="board-tooltip">
                                <div class="row" style="font-weight: 500;">
                                    <div class="col-12">
                                        <div class="board-power">
                                            Power
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="board-result">
                                            {{ isBoardOnline(bd).status }}
                                            <ng-container *ngIf="isBoardOnline(bd).status == 'Offline'">
                                                <br>
                                                <div class="board-tooltip">
                                                    <div class="row" style="font-weight: 500;">
                                                        <div class="col-12">
                                                            <div class="power">
                                                                Test Result
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12" [innerHTML]="statusMessages[0]"
                                                            style="word-wrap: break-word; white-space: pre">
                                                            • {{ bd.statusMessages }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #testTooltip>
                            <div class="board-tooltip">
                                <div class="row" style="font-weight: 500;">
                                    <div class="col-12">
                                        <div class="power">
                                            Test Result
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12" [innerHTML]="statusMessages[0]">
                                        {{ bd.statusMessages }}
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                       

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- templates -->

<ng-template #statusDetails>
    <div class="status-details">
        <div class="row">
            <div class="col-4">
                <div class="status-icon-table"><img src="assets/Online.png" /></div>
            </div>
            <div class="col-4">
                <div class="status-icon-table"><img src="assets/Offline.png" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="status-head">Online</div>
            </div>
            <div class="col-4">
                <div class="status-head">Offline</div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="status-icon-table"><img src="assets/Passed.png" /></div>
            </div>
            <div class="col-4">
                <div class="status-icon-table"><img src="assets/nebula.svg" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="status-head">Pass</div>
            </div>
            <div class="col-4">
                <div class="status-head">Nebula Error</div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="status-icon-table"><img src="assets/linux.svg" /></div>
            </div>
            <div class="col-4">
                <div class="status-icon-table"><img src="assets/python.svg" /></div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="status-head">Linux Dmesg Error</div>
            </div>
            <div class="col-4">
                <div class="status-head">Pytest Failure</div>
            </div>
        </div>
    </div>
</ng-template>