:host ::ng-deep .popover {
  font-family: 'Poppins', sans-serif;
  background-color:#F0F0F0;
  color: #3e3e3e;
  width: auto;
  // max-width: 24vw;
  height: auto;
  // transform: translate3d(119px, 47px, 0px) !important;
  // width: 525px;
  // transform: translate3d(1665px, 185px, 0px) !important;
  // width: 643px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  

  .popover-body {
    color: #ffffff !important;
  }
}

:host ::ng-deep.popover.bottom .arrow {
  visibility: hidden;
  display: none;
  /* left: 125px !important;
      margin-left: 0 !important; */

}

.status-details {
  width: 355px;
  font-size: 13px;
  color: #3e3e3e !important;
  // padding: 10px 0;

  .power-status {
    text-align: center;
    padding-top: 5px;

  }

  .status-head {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-weight: 400;
    color: #3e3e3e!important;

  }

  .status-icon-table {
    padding: 5px 0;
    text-align: center;
  }

}

.board-details {
  font-size: 14px;

}
.unit{
  font-size: 12px;
}
