<div class="kuiperlinuxci-container">
    <div class="first-section">
        <div class="row">
            <div class="col-2">
                <div class="page-title">Kuiper Linux CI</div>
            </div>
            <div class="col-10">
                <div class="page-desc">{{kuiperlinux}}</div>
            </div>
        </div>
    </div>
    <div class="second-section">
        <div class="row">
            <div class="col-12">
                <div class="latest-summary">Latest Build Summary</div>
            </div>
        </div>
        <div class="jenkins-details">
            <table class="jenkins-table-details">
                <tr class="t-row">
                    <td class="field">Jenkins Project Name</td>
                    <td class="output">{{ this.jenkins_project_name }}
                    </td>
                    <td class="spacer"></td>
                    <td class="field">Artifactory source branch</td>
                    <td class="output">{{ this.source_adjacency_matrix }}</td>
                </tr>
                <tr class="t-row">
                    <td class="field">Jenkins Build No.</td>
                    <td class="output">{{ this.jenkins_build_number }}</td>
                    <td class="spacer"></td>
                    <td class="field">Passing</td>
                    <td class="output">{{ this.passingBoards }}</td>
                    
                </tr>
                <tr class="t-row">
                    <td class="field">HDL Commit</td>
                    <td class="output">{{ this.hdl_hash }}</td>
                    <td class="spacer"></td>
                    <td class="field">Linux Commit</td>
                    <td class="output">{{ this.linux_hash }}</td>
                    <td class="field">Status <span class="info-icon" [popover]="statusDetails"
                            [placement]="'bottom left'" triggers="mouseenter:mouseleave"><i
                                class="fas fa-info-circle"></i></span></td>
                </tr>
                <tr class="t-row">
                    <td class="field">Online</td>
                    <td class="output">{{ this.onlineBoards }}</td>
                    <td class="spacer"></td>
                    
                </tr>
            </table>
        </div>
        <div class="jenkins-table">
            <table class="jenkins-result-table">
                <thead>
                    <tr>
                        <th class="table-head">Job Date</th>
                        <th class="table-head">Board</th>
                        <th class="table-head">Status</th>
                        <th class="table-head">Power</th>

                    </tr>
                </thead>
                <tbody>
                        <!-- <tr *ngFor="let boot of boot_folder_name; let i = index" > -->
                            <tr *ngFor="let bd of this.dataAggregates" >
                            <td class="table-output" >{{ bd.jenkins_job_date | date:'y-M-d HH:mm:ss'}}</td>
                            <td class="table-output" routerLink="/selectedboard" style="cursor: pointer;">
                              {{ bd.boot_folder_name }}</td>
                            <td class="table-output" >{{ bd.linux_prompt_reached }} {{ bd.uboot_reached }}</td>
                            <td class="table-output"> 
                               {{ this.pstatus }} {{bstatus}} {{ bdstatus}}
                               <ng-container *ngIf="isBoardOnline()">
                                <a type="button" containerClass="customClass" [tooltip]="onlinePassedTooltip">
                                    <span class="status-icon">
                                        <img [src]="this.picon" />
                                    </span>
                                </a>
                               </ng-container>
                                
                               <ng-template *ngIf="this.bstatusArrayToDisplay[2] ;  '' " >
                                <span class="status-icon">
                                    <img [src]="this.bdicon" />
                                </span>
                                </ng-template> 
                      
                            </td>
                         </tr>
     
                </tbody>
            </table>
        </div>

    </div>
</div>
<!-- templates -->
<ng-template #onlinePassedTooltip>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Board Details:</h4>
            </div>
            <div class="modal-body">
                <div class="board-details">
                    <div class="board-power" *ngFor="let i of this.pstatusArrayToDisplay">
                        {{ i }}
                    </div>
                    <div class="board-stat">
                      Status: {{ this.boot_folder_name}}
                    </div>
                    <div class="board-reason">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>
<ng-template #onlineFailedTooltip>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Board Details:</h4>
            </div>
            <div class="modal-body">
                <div class="board-details">
                    <div class="board-title">
                        Board: <b>{{sampleboard}}</b>
                    </div>
                    <div class="board-power">
                        Power: On
                    </div>
                    <div class="board-stat">
                        Status: Failed
                    </div>
                    <div class="board-reason">
                        Reason: Pytest failure 4
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #offlineTooltip>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Board Details:</h4>
            </div>
            <div class="modal-body">
                <div class="board-details">
                    <div class="board-title">
                        Board: <b>{{sampleboard}}</b>
                    </div>
                    <div class="board-power">
                        Power: Offline
                    </div>
                    <div class="board-stat">
                        Status: Failed
                    </div>
                    <div class="board-reason">
                        Reason: Exception: u-boot not reached
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #onlineDmesgTooltip>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Board Details:</h4>
            </div>
            <div class="modal-body">
                <div class="board-details">
                    <div class="board-power">
                    </div>
                    <div class="board-stat">
                        Status: Failed
                    </div>
                    <div class="board-reason">
                        Reason: Linux dmesg error 2
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #statusDetails>
    <div class="status-details">
        <table class="status-details-table">
            <thead>
                <tr>
                    <th class="status-head">Online</th>
                    <th class="status-head">Offline</th>
                    <th class="status-head">Dmesg</th>
                    <th class="status-head">Passed</th>
                    <th class="status-head">Failed</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="status-icon-table"><img src="assets/Online.png" /></td>
                    <td class="status-icon-table"><img src="assets/Offline.png" /></td>
                    <td class="status-icon-table"><img src="assets/Passed.png" /></td>
                    <td class="status-icon-table"><img src="assets/Failed.png" /></td>
                    <td class="status-icon-table"><img src="assets/Dmesg.png" /></td>
                </tr>
            </tbody>
        </table>
    </div>

</ng-template>

<!-- <bsModals> -->
<!-- <div bsModal #onlinePassedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Board Details:</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="onlinePassedModal.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="board-details">
                    <div class="board-title">
                        Board: <b>{{board}}</b>
                    </div>
                    <div class="board-power">
                        Power: On
                    </div>
                    <div class="board-stat">
                        Status: Passed
                    </div>
                    <div class="board-reason">
                        No Failure encountered
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #offlineModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Board Details:</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="onlinePassedModal.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="board-details">
                    <div class="board-title">
                        Board: <b>{{board}}</b>
                    </div>
                    <div class="board-power">
                        Power: Off
                    </div>
                    <div class="board-stat">
                        Status: Failed
                    </div>
                    <div class="board-reason">
                        Reason: Exception: u-boot not reached
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #passedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Board Details:</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="passedModal.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="board-details">
                    <div class="board-title">
                        Board: <b>{{board}}</b>
                    </div>
                    <div class="board-stat">
                        Status: Passed
                    </div>
                    <div class="board-reason">
                        No Failure encountered
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #failedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Board Details:</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="passedModal.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="board-details">
                    <div class="board-title">
                        Board: <b>{{board}}</b>
                    </div>
                    <div class="board-stat">
                        Status: Failed
                    </div>
                    <div class="board-reason">
                        Failure reason: Pytest failure 4
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div bsModal #dmesgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Board Details:</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close"
                    (click)="passedModal.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="board-details">
                    <div class="board-title">
                        Board: <b>{{board}}</b>
                    </div>
                    <div class="board-stat">
                        Status: Failed
                    </div>
                    <div class="board-reason">
                        Failure reason: Linux dmesg error 2
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1561436720/particles.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1561436735/app.js"></script>